p{
  font-size: 20px;
}

.div-left{
    float: left;
}

.div-right{
    float: right;
}

.faq-pic{
  left: 50%;
  top: 50%;
  width: 50%;
  display: inline-block;

}

a .left carousel-control{
  background-color: red;
}

.carousel-indicators li { visibility: hidden; }

section{border-style: none;}

#Team_photos{
  text-align: center;
}

.board_photo{
    display: inline-block;
    margin: 20px;
    height: 250px;
    width: 250px;
}

.carousel-inner{
  width:100%;
  background-size: cover;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}

.carousel-inner>.item {
  width: 100%;

}

img.slideshow_image{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}
img.center_image{
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}


.header{
	background-color: #333
}

.landing_page{
	height: 10%;
	/*height: 90vh;*/
}

.mission_statement{
	height: 10%;
	 /*height: 75vh;*/
   background-color: #00accb;
}

.block_title{
	text-align: center;
	font-size: 200%;
}

.block_text{
	margin-right: 10%;
	margin-left: 10%;
	/*
	margin-right: 250px;
	margin-left: 250px;
	*/
}

.volunteer{
  text-align: center;
  background-color:powderblue;
}

.resources{
   text-align: center;
  background-color: powderblue;
}


.team {
    text-align: center;
    background-color: powderblue;
    width: 100%;
    margin: 0 auto;
    font-family: Avenir, Pier Regular, sans-serif;
    color: white;
}

.Faq{
    text-align: center;
    background-color: white;
   background-position:center;
}


.Footer{
clear: left;
}

.left{
	float: left;
}

.white{
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
    display: none;
}

/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  clear: both;
}

.navbar {
  position: initial;
  border: 1px solid transparent;
}

.container-fluid{
    background-color: powderblue;
}

body {
    min-height: 50px;
}

.clear{
  clear:both;
}

.container{
  width:  100%;
  padding-right: 0px; 
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.float-left{
  float:left;
}
.float-right{
  float:right;
}

.half-padded{
  width:40%;
  margin-left:5%;
  margin-right:5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*
.nav {
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    display: inline;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover * /
li a:hover {
    background-color: #111;
}


.nav_pad{
  padding: 14px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

*/
